.FRANZ {
    color: yellow;
    background-color: black;
    text-align: center;
    padding: 10px;
}


.alinear {
    width: 250px;
    height: 300px;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.BIOGRAFIA, .PIEZAS, .SPAN {
    color: yellow;
    background-color: black;
    text-align: center;
    padding: 10px;
}


body {
    background-color: black;
    color: white;
}

.centrar {
    text-align: center;
}